
/*Style Tablette */
@media (min-width: 779px){
    @media (max-width: 992px)
    {
      body{
        overflow-x: hidden;
        min-width: 100%;
        max-width: 1400px;
        display: block;
        height: 100%;
        background: #FFFFFF;
      }
      header{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      #booki{
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-top: 30px;
      }
      .logo{
        display: block;
        margin: auto;
        }
      nav  {
        display: flex;
        flex-direction: row;
        margin-left: 25%;
        max-width: 380px;
      }
    
      .toolbar{
        min-width: 162px;
        max-width: 162px;
        border-top: 2px solid transparent;
      }
      .toolbar:hover{
       border-top: 2px solid #0065FC;
      }
    
      a  {
        color: #000000;
        margin-top: 30px;
        display: block;
        list-style: none;
        text-decoration: none;
      }
       a:hover{
        color: #0065FC;
      }
        h1{
          font-weight: 980;
          font-size: 22px;
          line-height: 26px;
        }
        h3{
          font-size: 19px;
          font-weight: 400;
        }
        strong{
        font-weight: 900;
        }
 
        #bar{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        }
      
        .titlle{
          text-align: justify;
        }
        input{
          min-height: 49px;
          min-width: 220px;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
        border: none;
        }
        
        #search{
          background: #FFFFFF;
          border-radius: 15px;
          min-width: 332px;
          max-width: 432px;
          min-height: 49px;
          max-height: 49px;
        }
        .white{
          background-color: #F2F2F2;
          padding: 22px 22px;
          border-radius: 15px 0 0 15px;
          min-height: 49px;
          max-height: 49px;
        }
        .btn {
          width: 132px;
          min-height: 49px;
          max-height: 49px;
          display: inline-block;
          text-align: center;
          padding: 20px;
          font-size: 16px;
          margin: 4px 2px;
          border-radius: 0px 15px 15px 0px;
          border: 1px solid #0065FC;
          background-color: #0065FC;
        }
        .btn i{
          display: none;
          }
          span{
            color: white;
          }
        #filters{
          margin-top: 30px;
          max-width: 80%;
          max-height: 50px;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
        }
        #filters-list{
          box-sizing: border-box;
          max-height: 50px;
          width: 60%;
          display: flex;
          flex-direction: row;
        }
        .filter{
          max-height: 48px;
          border: 2px solid #D9D9D9;
          border-radius: 25px;
          
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
        }
        .fa-dog{
          margin-right: 0PX;
        }
        .xxl{
        min-width: 226px;
        max-width: 226px;
        margin-left: 5%;
        }
        .xl{
          min-width: 175px;
          margin-left: 5%;
        }
        .xxl p{
          margin-left: 10px;
        }
        .xl p{
          margin-right: 20px;
        }
        .xs{
          min-width: 136px;
          margin-left: 5%;
        }
        .xs p{
          margin-right: 20px;
        }
        #filters p{
          display: block;
          font-weight: 900;
          font-size: 17px;
        }
      .filter p{
          display: block;
          font-weight: 700;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
        }
        .filter i{
          display: block;
          align-items: center;
          margin-top: 15px;
          margin-left: 20px;
          color: #0065FC;
        }
        
        #info p{
          text-align: left;
          margin-top: 30px;
        }
        p i{
        min-width: 24px;
        min-height: 24px;
        color: #0065FC;
        border: 1px solid #D9D9D9;
        border-radius: 15px;
        }
        .fa-info:before{
          margin-left: 9px;
          margin-top: 4px;
        display: block;
        }
        #up{
          padding: 22px 16px;
        }
        
        .column {
          float: left;
          max-width: 33.33%;
          height: 230px;
          padding: 0 10px;
        }
        #hebergemennt{
          width: 100%;
          display: flex;
          flex-direction: column;
          min-height: 626px;
          max-height: 626px;
        }
        #left{
          width: 100%;
          background: #F2F2F2;
          border-radius: 25px;
          min-height: 626px;
          max-height: 626px;
        }
    
        #mleft{
          width: 100%;
          margin-top: 50px;
        }
        #rigth{
          min-height: 278px;
          min-width: 100%;
          margin-top: 50px;
          border-radius: 20px;
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          background: #F2F2F2;
          margin-left: 0;
        }
        #card-list{
          width: 100%;
          display: flex;
          flex-direction: row;  
        }
        #rigth h1{
          margin-top: 30px;
        }
        #more{
          display: block;
          margin-bottom: 20px;
        }
        
        .col{
          max-height: 144px;
          border-radius: 20px;
          padding: 0 5px ;
        }
        .row {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-around;
        }
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .card {
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 4px;
          text-align: left;
          background-color: white;
          border: 1px solid #FFFFFF;
          border-radius: 20px;
          margin: auto;
          height: 199px;
         min-width: 246px;
        }  
        .card-s {
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
          background-color: #f1f1f1;
          border-radius: 20px;
          display: flex;
          flex-direction: row;
          margin: auto;
          min-width: 252px;
          max-width: 252px;
          min-height: 144px;
        }  
        .down{
          display: inline-flex;
          flex-direction: row;
          margin-top: 35px;
        }
        .l{
          max-height: 124px;
          max-width: 246px;
          border-radius: 20px 20px 0px 0px;
        }
        .s{
          max-height: 144px;
          max-width: 106px;
          border-radius: 20px 0px 0px 20px;
        }
        .card:hover,.filter:hover{
          background-color: #DEEBFF;
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .container {
          padding: 0px 16px;
          max-height: 91px;
          width: 100%;
          margin: 0 0 ;
        }
       
        .container strong{ 
        font-style: normal;
        font-weight: 700;
        text-align: left;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        }
        .container p{ 
          font-style: normal;
          font-weight: 400;
          text-align: left;
          font-size: 13px;
          line-height: 15px;
          color: #000000;
          margin: 0 0;
        }
        .container i{
          color: #0065FC;
        }
        #activity{
          max-height: 331px; 
          margin-top: 350px;
          width: 100%;
        }
        .container-xl{
          width: 100%;
          padding: 11px;
          height: 44px;
          margin: auto ;
          text-align: left;
          background: #FFFFFF;
          border-radius: 0px 0px 20px 20px;
          box-shadow: rgba(0, 0, 0, 0.11) 0px 2px 8px;
        }
        .container-xl strong{ 
          font-style: normal;
          font-weight: 900;
          font-size: 16px;
          line-height: 18.78px;
          color: #000000;
        }
      
        .row-xl{
          display: flex;
          width: 100%;
        }
        .card-xl{
          width: 100%;
          display: block;
          max-height: 444.51px;
          margin-right: 5%;
    
          font-size: 16px;
          font-weight: bold;
          background-color: transparent;
        }
        .card-xl img{
          display: block;
          width: 100%;

          background-color: transparent;
          border-radius: 20px 20px 0 0;
          min-height: 237px;
          max-height: 237px;
        }
        footer {
          background-color: #F2F2F2;
          text-align: center;
          padding: 0 30px;
          display: flex;
          justify-content: space-around;  
          margin: auto;
          flex-direction: row;
         margin-top: 40px;
          color: black;
          min-width: 100%;
          max-height: 225px;
          border-radius: 0px;
        }
    }
}

